/* src/index.css */
#root {
  width: 100vw !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}